<% include ../partials/header %>

<!-- Guidelines -->
<section id="card-headings">
<div class="row">
		<div class="col-md-9 col-sm-12">
			<div class="card">
				<div class="card-header" id="heading-links">
					<h4 class="card-title">Three Bedroom Flat Bungalow</h4>
				</div>
				<div class="card-body">
					<!-- Container for the image gallery -->
					

					  <!-- Full-width images with number text -->
					  <div class="mySlides">
					    <div class="numbertext">1 / 6</div>
					      <img src="../../img/house.png" style="width:100%">
					  </div>

					  <div class="mySlides">
					    <div class="numbertext">2 / 6</div>
					      <img src="../../img/house.png" style="width:100%">
					  </div>

					  <div class="mySlides">
					    <div class="numbertext">3 / 6</div>
					      <img src="../../img/house.png" style="width:100%">
					  </div>

					  <div class="mySlides">
					    <div class="numbertext">4 / 6</div>
					      <img src="../../img/house.png" style="width:100%">
					  </div>

					  <div class="mySlides">
					    <div class="numbertext">5 / 6</div>
					      <img src="../../img/house.png" style="width:100%">
					  </div>

					  <div class="mySlides">
					    <div class="numbertext">6 / 6</div>
					      <img src="../../img/house.png" style="width:100%">
					  </div>

					  <!-- Next and previous buttons -->
					  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					  <a class="next" onclick="plusSlides(1)">&#10095;</a>

					  <!-- Image text -->
					  <div class="caption-container">
					    <p id="caption"></p>
					  </div>

					  <!-- Thumbnail images -->
					  <div class="row">
					    <div class="column">
					      <img class="demo cursor" src="../../img/house.png" style="width:100%" onclick="currentSlide(1)" alt="The Front View">
					    </div>
					    <div class="column"> 
					      <img class="demo cursor" src="../../img/house.png" style="width:100%" onclick="currentSlide(2)" alt="The Side View">
					    </div>
					    <div class="column">
					      <img class="demo cursor" src="../../img/house.png" style="width:100%" onclick="currentSlide(3)" alt="The Top View">
					    </div>
					    <div class="column">
					      <img class="demo cursor" src="../../img/house.png" style="width:100%" onclick="currentSlide(4)" alt="The Interior">
					    </div>
					    <div class="column">
					      <img class="demo cursor" src="../../img/house.png" style="width:100%" onclick="currentSlide(5)" alt="The Back View">
					    </div> 
					    <div class="column">
					      <img class="demo cursor" src="../../img/house.png" style="width:100%" onclick="currentSlide(6)" alt="The Bedroom">
					    </div>
					  </div>
					
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12">
			<div class="card">
			 <div class="card-body">
			   <div class="">
                <h2>1 Bedroom Flat</h2>
                    <div class="rating warning mb-1">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i> 1290 review
                    </div>
                    <p>Nteresting furniture design from a man with an interesting background: Alain Gilles is an banker who quit finance to study industrial design.
                    </p>
                    <p>Since opening his studio he's worked banker who quit finance to study industrial design..</p>
               </div>
                    <h2 class="py-2">&#8358;1,000,000</h2>
                    <a href="/purchase" class="btn btn-info btn-block btn-glow text-uppercase p-1" style="">Purchase</a>
                </div>    
            </div> 
		</div>
	</div>
</section>	
<!-- Guidelines End-->

<% include ../partials/footer %>